@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@media screen and (min-width: 375px) and (max-width:959px) {
    :root {
        --accent: #FF0000;
        --white: #FFF;
        --black: #000;
    }
    
    html {
        overflow-x: hidden;
    }
    
    /*--------Header----------*/
    header {
        height: 89px;
        position: fixed;
        z-index: 999;
        width: 100vw;
    }
    
    header div.container div.menu-top-menu-container {
        min-width: 375px;
        width:100vw;
        margin: auto;
    }
    
    header .top-bar {
        width:100vw;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        position: absolute;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        top: 55px;
    }
    
    a {
        text-decoration: none;
        color: var(--black);
    }

    header .top-bar li {
        padding-right: 27px;
        align-items: center;
        text-align: center;
        
    }
    
    header .top-bar li a:hover {
        color: var(--black);
    }

    header .top-bar li:first-child a {
        width:100vw;
        text-align: center;
        align-items: center;
        position: absolute;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        color: var(--black);
        top: -40px;
        left: 0px;
    }

    header .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    header .top-bar li.current_page_item a {
        color: var(--accent);
    }
    
    body .very-specific-design {
      width: 100%;
      left: 50%;
      top: 50%;
      transform-origin: center center;
    }

    body .scaleable-wrapper {
      resize: both;
    }
    
    /*--------Body--------*/
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        overflow: hidden;
    }
    
    /*-----Transparent Page Name------*/
    body .page-title {
        position: absolute;
        margin: auto;
        height: 61px;
        width: 100vw;
        top: 79px;
        z-index: 999; 

        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        letter-spacing: -0.02em;
        /* identical to box height */

        text-align: center;
        color: transparent;

        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
	
	body .page-title-project {
        position: absolute;
		text-align: center;
		display: flex;
  		justify-content: center;
  		align-items: center;
        width: 100vw;
        top: 79px;
        z-index: 999; 

        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
		font-size: 27px;
		line-height: 33px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: -0.02em;

        text-align: center;
        color: transparent;

        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    
    /*-------Main Page---------*/
    body .main-page-content {
        align-items: center;
        justify-content: center;
        padding-top: 120px;
        padding-left: 35px;
        width: 309px;
        font-family: Krona One;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 99%;

        align-items: center;
        letter-spacing: 0.005em;

        color: #000000;
        
        width: 100vw;
        padding-left: 0;
    }
    
    body .main-page-content p {
        width: 309px;
        margin: auto;
        margin-bottom: 112px;
    }
	
	body .main-page-content {
		width: 302px;
		margin:auto;
	}
	
	body .main-page-content img {
		  width: 80vw;
		  height: auto;
		  margin: auto;
		  margin-bottom: 85px;
	}
	
	.wp-block-image {
		padding: 0;
	}
	
	body div.main-page-content div.wp-block-columns figure.wp-block-image img{
		margin: 0;
	}
	
	body div.main-page-content div.wp-block-columns:first-child {
		margin-top: 0px;
	}
	
	body div.main-page-content div.wp-block-columns {
		margin-top: -80px;
	}
	
	body div.main-page-content figure.wp-block-image img{
		margin-top: -120px;
	}
	
	body div.main-page-content div.wp-block-image img{
		margin: 0;
			margin-top: -120px;
	}
	
    /*------About Page------*/
    body .image-about {
        position: absolute;
        margin-top: 160.75px;
        object-fit: cover;
        width: 217px;
        height: 246.1px;
    }
    
    body div#content-wrap .col-6.col-md-4 {
        display: flex;
        justify-content: center;
    }
    
    body .about-main-text {
        padding-top: 452px;
        height: 694.99px;
    }
    
    body .about-main-text p {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
        width: 309.62px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }
    
    body div.widget-about {
        padding-top: 544px;
        padding-bottom: 0px;
        margin: auto;
        width: 309.62px;
        
    }

    body div.widget-about li{
        list-style-type: none;
    }

    body div.widget-about div.container div.textwidget{
        display: block;
        align-items: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        padding-top: 10px;
    }

    body div.widget-about div.container {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 31px;
        line-height: 38px;
        padding-top: 70px;
		padding-left: 0;
    }

    body div.widget-about .widget.widget_text .container .textwidget p a{
        color: var(--accent);
        text-decoration: underline;
        width: 232.75px;
        
    }

    body div.widget-about p {
        width: 232.75px;
        display: flex;
        justify-content: center;
    }
    
    
    /*------CERTIFICATES------*/
    body div.row div.col-lg-4.col-md-4.col-sm-12.certificates {
        width: 296px;
		height: 349px;
        align-items: center;
        text-align: center;
		margin-top: 100px;
    }
    
    body div.row div.col-lg-4.col-md-4.col-sm-12.certificates img{
        justify-content: center;
		width: 276px;
		height: 349px;
    }
    
    body div.row div.col-lg-4.col-md-4.col-sm-12.certificates div.certificates_text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: var(--black);
        padding-top: 19px;
        justify-content: center;
    }
	
	body div.row div.col-lg-4.col-md-4.col-sm-12.certificates:last-child {
        margin-bottom: 60px;
    }

    body div.container-fluid.certi-cont {
        display: flex;
        height: 1550px;
        width: 296px;
    }
    
    /*-----Contacts------*/
    body .contacts-main-text {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding-top: 39.37px;
        padding-bottom: 176.33px;
        margin: auto;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;  
    }
    
    body .contacts-main-text a {
        color: var(--accent);
        text-decoration: underline;
    }
	
	body .contacts-main-text .wp-block-group p {
        margin-left: -20px;
		width: 309px;
	}
    
    /*------Projects------*/
	body div.container div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.projects-title {
		width: 311px;
		display: block;
        margin-left: auto;
        margin-right: auto;
		margin-top: 20px;
	}
	
    body div.container div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.projects-title a{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-decoration-line: underline;
        color: var(--accent);
    }

    body div.container div.row div.col-lg-6.col-md-6.col-12.single-project-icon a img {
        width: 305.2px;
        height: 305.2px;
		display: block;
        margin-left: auto;
        margin-right: auto;
    }
	
    body div.container div.row div.col-lg-6.col-md-6.col-12.single-project-icon {
        margin-bottom: 100px;
    }
    
    body div.container div.row:first-child {
        padding-top: 170px;
    }

    body div.container div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.description-project {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        color: var(--black);
		width: 305.2px;
		display: block;
		margin-left: auto;
		margin-right: auto;
    }

    body div.container div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.description-project a:hover {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        color: var(--black);
		
    }
    
    /*---------Project Layout---------*/
    body div.projects {
        text-align: center;
    }

    body div.projects h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        width: 309px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    body div.projects p img {
        width:70%;
        height: auto;
        margin-bottom: 60px;
    }

    body div.project-topbar-description {
        position: absolute;
        top: 148.66px;
        left: 33px;
        width: 309px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }
	/*First photo inserted is not displayed on the phone*/
	.top-picture {
		visibility: hidden; 
	}
	
	/*---------Videos--------*/
	body .wp-video {
		max-width: 242.48px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
	}


    /*------Footer------------*/
    footer.footer {
        padding-bottom: 111px;
        height: 50px;
        width: 210px;
        margin: auto;
    }
    
    body .custom-footer {
        height: 50px;
        width: 210px;
        margin: auto;
    }

    footer li {
        display: inline-flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        list-style-type: none;
        padding-left: 20px;
    }
    
    footer li:first-child {
        padding-left: 12px;
    }
    
    footer li:last-child {
        padding-top: 20px;
        padding-left: 0;
        justify-content: center;
    }

    footer.footer li.widget.widget_text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: var(--accent);
    }
	
	body .custom-footer.phone-footer {
		height: 100px;
	}
}


