@media screen and (min-width:960px) and (max-width:1439px) {
    html {
		height: 100%;
		margin: 0;
	}

	*,*::after,*::before {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		transition: .5s ease-in-out;
	}

	body {
		overflow-x: hidden;
		height: 100%;
		margin: 0;
		padding-left: 0px;
		top: 0;
	}

	header {
		height: 110px;
		position: fixed;
		padding-left: 80px;
		z-index: 999;
	}

	header div.container div.menu-top-menu-container {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0;
		width: 100vw;
	}

	header .top-bar, #menu-item-30 {
		list-style-type: none;
		display: flex;
		width: 100vw;
		padding: 0px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.18em;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
		color: var(--black);
	}

	header .top-bar li a {
		padding-right: 20px;
	}

	header .top-bar li a:hover {
		padding-right: 20px;
		color: var(--black);
	}

	header .top-bar li:first-child a {
		padding-top: 0px;
		padding-right: 178px;
		padding-left: 79px;
		font-weight: 900;
		font-size: 24px;
		line-height: 29px;
	}

	header .container {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	header .top-bar li.current_page_item a {
		color: var(--accent);
	}

	body .very-specific-design {
	  width: 100%;
	  left: 50%;
	  top: 50%;
	  transform-origin: center center;
	}

	body .scaleable-wrapper {
	  resize: both;
	}    

	/*--------Body--------*/
	body div.main-page-content {
		 align-items: center;
		justify-content: center;
		font-style: normal;
		font-weight: 400;
		font-size: 96px;
		line-height: 99%;
		display: block;
		letter-spacing: 0.005em;
		color: var(--black);
		font-family: 'Krona One', sans-serif;
		padding-top: 234.5px;
	}

	body div.main-page-content p {
		margin:0px 0px 183px 81px;
		width: 796.9px;
	}

	body div.main-page-content img.main-left {
		margin:0px 0px 20.53px 0px;
	}

	body div.main-page-content div.wp-block-columns {
		margin:0px 117.1px 0px 80px;
	}

	body div.main-page-content div.wp-block-columns div.wp-block-column {
		margin:0px 0px 0px 0px;
	}

	/*-----Transparent Page Title------*/
	body .page-title {
		position: fixed;
		height: 133px;
		left: 73px;
		top: 115px;
		z-index: 999; 

		font-family: Montserrat;
		font-style: normal;
		font-weight: 700;
		letter-spacing: -0.02em;
		/* identical to box height */
		font-size: 95px;
		line-height: 116px;

		display: flex;
		align-items: center;
		color: transparent;

	   -webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
	}

	body .page-title-project {
		position: fixed;
		height: 133px;
		left: 73px;
		top: 115px;
		z-index: 999; 

		font-family: Montserrat;
		font-style: normal;
		font-weight: 700;
		letter-spacing: -0.02em;
		/* identical to box height */
		font-size: 95px;
		line-height: 116px;

		display: flex;
		align-items: center;
		color: transparent;

	   -webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
	}

	/*-------About Page-------*/
	body .about-main-text {
		padding-top: 40px;
		padding-left: 30px;
		width: 490px;
		height: 832px;

		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 29px;
		line-height: 35px;
	}

	body .about-main-text p {
		padding-bottom: 30px;
		width: 490px;
	}

	body .image-about {
		padding-top: 110px;
		width: 229.28px;
		height: 435.27px;
	}

	body div.widget-about {
		padding-bottom: 147.46px;
	}

	body div.widget-about li{
		list-style-type: none;
		padding-left: 300px;
	}

	body div.widget-about li:nth-child(even) { 
		padding-left: 470px;
	}

	body div.widget-about div.container div.textwidget{
		display: block;
		align-items: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29.26px;
	}

	body div.widget-about div.container {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;
		padding-top: 100px;
		padding-bottom: 10px;
	}

	body div.widget-about p a{
		color: var(--accent);
		text-decoration: underline;
	}

	body div.widget-about p {
		width: 345px;
	}
	
	body div.container-fluid div.page-container {
		min-height: 70vh;
		padding-left: 60px;
		padding-top: 319px;
	}

	/*-----Contacts------*/
	body .contacts-main-text {
		padding-top: 363px;
		margin-bottom: 588.31px;
		width: 675px;
		height: 545px;
		position:relative;
		left: -55px;

		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;   
	}

	body .contacts-main-text a {
		color: var(--accent);
		text-decoration: underline;
	}

	body .contacts-main-text .row .col-6 {
		padding-left: 0px;
	}

	/*------Projects------*/
	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.projects-title a{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 28px;
		line-height: 34px;
		text-decoration-line: underline;
		color: var(--accent);
	}

	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.projects-title {
		padding-top: 20px;
		padding-bottom: 8px;
	}

	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon {
		width: 305.2px;
		margin: 0px 155px 75px -52px;
	}
	
	body div.container.projcont div.row {
		width: 960px;
	}
	
	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon img {
		width: 305.2px;
		height: 305.2px;
	}

	body div.container.projcont div.row:first-child {
		padding-top: 315px;
	}

	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.description-project {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19.5px;
		color: var(--black);
		width: 305.2px;

	}

	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.description-project a:hover {
		color: var(--black);
	}

	/*------Certificates-------*/
	body div.row div.col-lg-4.col-md-4.col-sm-12.certificates {
		width: 143px;
		height: auto;
		margin-left: 141.99px;
		align-items: center;
		text-align: center;
	}
	
	body div.row div.col-lg-4.col-md-4.col-sm-12.certificates a img {
		width: 143px;
	}
	
	body div.row div.col-lg-4.col-md-4.col-sm-12.certificates:first-child {
		width: 143px;
		height: 384px;
		margin-left: 62px;
	}
	body div.row div.col-lg-4.col-md-4.col-sm-12.certificates div.certificates_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		text-decoration-line: underline;
		color: var(--accent);
		padding-top: 23px;
		width: 143px;
	}

	body div.container-fluid.certi-cont {
		display: block;
		height: auto;
		width: 100%;
	}

	body div.projects p {
		margin:0;
		padding-left: 0;
	}

	/*-------Projects layout---------*/
	body div.projects {
		text-align: center;
	}

	body div.projects h3 {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 300;
		font-size: 25px;
		line-height: 30px;
		width: 473.33px;
		margin-bottom: 160px;
		margin-left: auto;
		margin-right: auto;
	}

	body div.projects p img {
		width: auto;
		margin-bottom: 160px;
	}

	body div.project-topbar-description {
		position: absolute;
		top: 310px;
		left: 79px;
		width: 450px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 300;
		font-size: 25px;
		line-height: 30px;

	}
	
	/*------Home page layout------*/
	body img.wp-image-52, body img.wp-image-77, body img.wp-image-373, body img.wp-image-78, body img.wp-image-66, body img.wp-image-65, body img.wp-image-69, body img.wp-image-61,  {
		width: 392px;
		height: auto;
	}
	
	body img.wp-image-83 {
		width: 797.33px;
		height: 567.05px;
	}
	
	body img.wp-image-76, body img.wp-image-371, body img.wp-image-74, body img.wp-image-79, body img.wp-image-82, body img.wp-image-73,  body img.wp-image-67, body img.wp-image-68, body img.wp-image-88, body img.wp-image-87, body img.wp-image-62, body img.wp-image-64, body img.wp-image-60, body img.wp-image-54 {
		width: 310.67px;
		height: auto;
	}
	
	body img.wp-image-84, body img.wp-image-85, body img.wp-image-86, body img.wp-image-59, body img.wp-image-53 {
		width: 230px;
		height: auto;
	}
	
	body img.wp-image-63 {
		width: 392px;
		height: 591.45px;
	}
	
	body img.wp-image-72 {
		width: 960px;
		height: 669.63px;
	}
	
	body img.wp-image-371 {
		height: 530.91px;
	}
	
	body img.wp-image-71, body img.wp-image-70, body img.wp-image-55 {
		width: 473.33px; 
		height: auto;
	}
	
	body img.wp-image-66 {
		height: 534.93px;
	}
	
	body img.wp-image-65 {
		height: 600.77px;
	}
	
	body img.wp-image-79, body img.wp-image-82 {
		margin-top: 70px;
	}
	
	body img.wp-image-85, body img.wp-image-64 {
		margin-top: -40px;
	}
	
	body img.wp-image-88, body img.wp-image-60 {
		margin-top: -130px;
	}
	
	body img.wp-image-77, body img.wp-image-67, body img.wp-image-86 {
		margin-top: -100px;
	}
	
	body img.wp-image-84 {
		margin-top: -200px;
	}
	
	body img.wp-image-53 {
		margin-top: -400px;
	}
	
	body img.wp-image-76 {
		margin-top: -30px;
	}
	
	body img.wp-image-75 {
		height: 932.21px;
		width: 797.33px;
	}
	
	body img.wp-image-69 {
		height: 587.93px;
	}
	
	body img.wp-image-61 {
		width: 392px;
		height: 587.93px;
	}
	
	body img.wp-image-58 {
		height: 698.67px;
	}
	
	body img.wp-image-56 {
		height: 636.27px;
	}
	
	/*---------Videos--------*/
	body .wp-video {
		max-width: 525.07px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
	}

	/*------Footer------------*/
	footer.footer {
		width: 100%;
		padding-left: 80px;
		padding-top: 74.22px;
		padding-bottom: 34.22px;
	}

	footer li {
		display: inline-block;
		list-style-type: none;
		padding-right: 16px;
	}

	footer.footer li.widget.widget_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: var(--accent);
	}

	body div.custom-footer {
		z-index: 999;
		position: relative; 
		margin-top: -350px; 
		height: 150px; 
		clear: both;
	}

	body div.phone-footer {
		margin-top: -250px;
		height: 100px;
		padding: 0;
	}
}