@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
:root {
    --accent: #FF0000;
    --white: #FFF;
    --black: #000;
}

@media screen and (min-width:1440px) {
	html {
		height: 100%;
		margin: 0;
	}

	*,*::after,*::before {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		transition: .5s ease-in-out;
	}

	body {
		min-width: 320px;
		overflow-x: hidden;
		height: 100%;
		margin: 0;
	}

	/*--------Header---------*/
	header {
		height: 110px;
		position: fixed;
		padding-left: 30px;
		z-index: 999;
	}

	header .top-bar, #menu-item-30 {
		list-style-type: none;
		display: flex;
		margin: 0;
		padding: 0;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.18em;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;
		color: var(--black);
	}

	header .top-bar li a {
		padding-right: 20px;
	}

	header .top-bar li a:hover {
		padding-right: 20px;
		color: var(--black);
	}

	header .top-bar li:first-child a {
		padding-right: 572px;
		padding-left: 76px;
		font-weight: 900;
		font-size: 24px;
		line-height: 29px;
	}

	header .container {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	header .top-bar li.current_page_item a {
		color: var(--accent);
	}
	
	header .top-bar li a:hover {
		color: var(--accent);
    }

	

	/*--------Body(Main Page)--------*/
	body div.main-page-content {
		align-items: center;
		justify-content: center;
		font-style: normal;
		font-weight: 400;
		font-size: 144px;
		line-height: 143px;
		display: block;
		letter-spacing: 0.005em;
		color: var(--accent);
		font-family: 'Krona One', sans-serif;
		padding-top: 234.5px;
	}
	
	body div.main-page-content p {
		margin:0px 0px 183px 117px;
	}

	body div.main-page-content div.wp-block-columns div.wp-block-column:nth-child(even) {
		 margin-left: auto;
  margin-right: 70px; 
	}
	
	body div.main-page-content div.wp-block-columns div.wp-block-column:nth-child(even) div.wp-block-image {
		float:right;
	}
	
	body div.main-page-content div.wp-block-columns div.wp-block-column:nth-child(odd) {
		margin-left: 60px;
	}

	body div.main-page-content div.wp-block-columns div.wp-block-column {
		margin:0px 0px 0px 0px;
	}

	body div.main-page-content div.wp-block-columns div.wp-block-column figure.wp-block-image img{
		max-width: 560px;
		height:auto;
		margin-bottom: -60px;
	}
	
	body div.main-page-content div.wp-block-columns:first-child {
		margin-bottom:0;
		margin-top:60px;
	}
	
	body div.main-page-content div.wp-block-columns {
		margin-bottom:0;
		margin-top:-80px;
	}
	
	body div.main-page-content figure.wp-block-image img{
		max-width: 1440px;
		height:auto;
	}
	
	body div.main-page-content img:last-child{
		margin-bottom:-10px;
	}
	
	/*-----Transparent Page Title------*/
	body .page-title {
		position: fixed;
		width: 1091px;
		left: 111px;
		top: 135px;
		z-index: 999; 

		font-family: Montserrat;
		font-style: normal;
		font-weight: 700;
		font-size: 109px;
		line-height: 133px;
		letter-spacing: -0.02em;
		/* identical to box height */

		display: flex;
		align-items: center;
		color: transparent;

	   -webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
	}

	body .page-title-project {
		position: fixed;
		width: 1091px;
		left: 111px;
		top: 135px;
		z-index: 999; 

		font-family: Montserrat;
		font-style: normal;
		font-weight: 700;
		font-size: 109px;
		line-height: 133px;
		letter-spacing: -0.02em;
		/* identical to box height */

		display: flex;
		align-items: center;
		color: transparent;

	   -webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
	}
	
	/*-----About Page------*/
	body .about-main-text {
		padding-top: 40px;
		padding-left: 65px;
		width: 705.2px;
		height: 832px;

		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;
	}

	body .about-main-text p {
		padding-bottom: 30px;
	}

	body .image-about {
		padding-top: 160px;
		padding-left: 36px;
	}

	body div.widget-about {
		padding-bottom: 147.46px;
	}

	body div.widget-about li{
		list-style-type: none;
		padding-left: 460px;
	}

	body div.widget-about div.container div.textwidget{
		display: block;
		align-items: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29.26px;
	}

	body div.widget-about div.container {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;
		padding-top: 100px;
		padding-bottom: 10px;

	}

	body div.widget-about p a{
		color: var(--accent);
		text-decoration: underline;
	}

	body div.widget-about p {
		width: 345px;
	}

	body div.widget-about li:nth-child(even) { 
		padding-left: 724px;
	}

	/*-----Contacts------*/
	body .contacts-main-text {
		padding-top: 363px;
		padding-left: 50px;
		margin-bottom: 688.31px;
		width: 675px;
		height: 545px;

		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;   
	}

	body .contacts-main-text a {
		color: var(--accent);
		text-decoration: underline;
	}

	/*------Projects------*/
	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.projects-title a{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 900;
		font-size: 36px;
		line-height: 44px;
		text-decoration-line: underline;
		color: var(--accent);
	}

	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.projects-title {
		padding-top: 34px;
		padding-bottom: 8px;
	}

	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon {
		width: 466px;
		height: 720px;
		margin: 0px 95px 107px 47px;
	}

	body div.container.projcont div.row:first-child {
		padding-top: 315px;
	}

	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.description-project {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29.26px;
		color: var(--black);

	}

	body div.container.projcont div.row div.col-lg-6.col-md-6.col-12.single-project-icon div.description-project a:hover {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29.26px;
		color: var(--black);
	}

	/*-----Certificates------*/
	body div.row div.col-lg-4.col-md-4.col-sm-12.certificates {
		width: 300px;
		height: 384px;
		margin-left: 141.99px;
		align-items: center;
		text-align: center;
	}
	body div.row div.col-lg-4.col-md-4.col-sm-12.certificates:first-child {
		width: 223px;
		height: 384px;
		margin-left: 124px;
	}
	body div.row div.col-lg-4.col-md-4.col-sm-12.certificates div.certificates_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		text-decoration-line: underline;
		color: var(--accent);
		padding-top: 23px;
	}

	body div.container-fluid div.page-container {
		min-height: 100vh;
		padding-left: 60px;
		padding-top: 319px;
		padding-bottom: 80px;
	}

	body div.container-fluid.certi-cont {
		display: block;
		height: 400px;
		width: 100%;
	}
	
	body div.container-fluid.certi-cont img {
		height: 314px;
		width: 230px;
	}

	body div.projects p {
		margin:0;
		padding-left: 0;

	}

	/*-------Projects layout---------*/
	body div.projects {
		text-align: center;
	}

	body div.projects h3 {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;
		width: 710px;
		margin-bottom: 160px;
		margin-left: auto;
		margin-right: auto;
	}

	body div.projects p img {
		width: auto;
		margin-bottom: 160px;
	}

	body div.project-topbar-description {
		position: absolute;
		top: 400px;
		left: 117px;
		width: 708px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;
	}
	
	/*---------Videos--------*/
	body .wp-video {
		max-width: 1001.24px;
		height: 594.89px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 200px;
	}

	/*------Footer------------*/
	footer.footer {
		padding-bottom: 41px;
		width: 100%;
		height: 176.92px;
		padding-left: 124px;
		padding-top: 74.22px;
	}

	footer li {
		display: inline-block;
		list-style-type: none;
		padding-right: 16px;
	}

	footer.footer li.widget.widget_text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: var(--accent);
	}

	body div.custom-footer {
		z-index: 999;
		position: relative; 
		margin-top: -350px; 
		height: 150px; 
		clear: both;
	}
}






